name: Build

on:
  push:
    branches: [ main ]
    paths-ignore:
      - "**/**.md"
  workflow_dispatch:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, windows-latest, ubuntu-22.04-arm, macos-15-intel, macos-latest]
        python-version: ['3.11']

    if: startsWith(github.event.head_commit.message, 'Release') || github.event_name == 'workflow_dispatch'
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install cffi cibuildwheel==3.3.0 setuptools wheel
      - name: Build and test wheels
        continue-on-error: true
        env:
          CIBW_ARCHS: "auto64"
          CIBW_SKIP: >-
            cp38-* cp39-*
            pp38-* pp310-*
            pp*win_*
          CC: clang
        run: |
          python -m cibuildwheel --output-dir wheelhouse
      - name: Save Wheels
        uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
